.container {
  /*background-image: url("https://previews.123rf.com/images/istone_hun/istone_hun1209/istone_hun120900479/15469548-Sport-poster-table-tennis-racket-ball-and-man-background-with-space-Stock-Photo.jpg");*/
  text-align: center;
  font-size: 100px;
  color: blue;
}
body {

}
#pingMain {
  width: 200px;
  height: 200px;
  margin: 5%;
  padding: 20px;
}
.jumbotron {
  /*background-image: url("https://previews.123rf.com/images/istone_hun/istone_hun1209/istone_hun120900479/15469548-Sport-poster-table-tennis-racket-ball-and-man-background-with-space-Stock-Photo.jpg");*/
  font-size: 24px;
  text-align: left;
}
h1 {
  text-align: center;
  font-size: 100px;
}
